name: Publish

on:
  release:
    # We'll run this workflow when a new GitHub release is created
    types: [released]

jobs:
  publish:
    name: Release build and publish
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: adopt
          java-version: 11
      - name: Change wrapper permissions
        run: chmod +x ./gradlew
      # Creates gpg ring file  
      - name: 'Create env file'
        env:
          DATA: ${{ secrets.SIGNING_SECRET_KEY_RING_FILE }}
        run: |
          echo $DATA | base64 --decode > secring.gpg

        # Builds the release artifacts of the library
      - name: Release build
        run: ./gradlew publishToMavenLocal
        
        
      - name: 'Delete env file'
        run: |
          rm secring.gpg

        # Generates other artifacts (javadocJar is optional)
#       - name: Source jar and dokka
#         run: ./gradlew androidSourcesJar javadocJar

        # Runs upload, and then closes & releases the repository
#       - name: Publish to MavenCentral
#         run: ./gradlew publishReleasePublicationToSonatypeRepository --max-workers 1 closeAndReleaseSonatypeStagingRepository
        env:
          OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
          SIGNING_KEY_ID: ${{ secrets.SIGNING_KEY_ID }}
          SIGNING_PASSWORD: ${{ secrets.SIGNING_PASSWORD }}
          SIGNING_SECRET_KEY_RING_FILE: ${{ secrets.SIGNING_SECRET_KEY_RING_FILE }}
          SONATYPE_STAGING_PROFILE_ID: ${{ secrets.SONATYPE_STAGING_PROFILE_ID }}
